[project]
	description = The data necessary to deploy a DCI Control-Server
[access "refs/*"]
  read = group dci-infra-data-quickstart-core
  owner = group dci-infra-data-quickstart-ptl
[access "refs/heads/*"]
	label-Code-Review = -2..+2 group dci-infra-data-quickstart-core
	label-Code-Review = -2..+2 group dci-infra-data-quickstart-ptl
	label-Verified = -2..+2 group dci-infra-data-quickstart-ptl
	label-Workflow = -1..+1 group dci-infra-data-quickstart-core
	label-Workflow = -1..+1 group dci-infra-data-quickstart-ptl
	label-Workflow = -1..+0 group Registered Users
	submit = group dci-infra-data-quickstart-ptl
	read = group dci-infra-data-quickstart-core
    read = group Registered Users
[access "refs/meta/config"]
    read = group dci-infra-data-quickstart-core
    read = group Registered Users
[receive]
	requireChangeId = true
[submit]
	mergeContent = false
	action = fast forward only
